.add-product-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.add-product-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.add-product-form h2 {
  margin-bottom: 20px;
  color: #f57c00;
}

.input-field {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.2s;
}

.input-field:focus {
  border-color: #f57c00;
}

.submit-btn {
  background-color: #f57c00;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #e66a00;
}
.no-order {
  display: inline-block;
  padding: 12px 20px;
  background: #ffeded;
  color: #d9534f;
  border: 1px solid #d9534f;
  border-radius: 8px;
  font-size: 14px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
  width: 100%;
}
.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 300px;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}
.error {
  background: #d9534f;
  border-left: 5px solid #c9302c;
}

.notificationAr {
  top: 100px;
}

.notificationEn {
  top: 185px;
}



